<h2 class="title">{{app_name}}</h2>
<h3 class="headline">{{app_headline}}</h3>

{{#if oauth_token }}
	{{outlet}}
{{else}}
	{{#if auth_asked}}
	  <button {{action 'login'}}>Log in</button>
	{{else}}
		<p>Paste your 500px oauth access token here</p>
	  {{input value=oauth_token_temp}}
		<button {{action 'save_access_token' }}>Save</button>
	{{/if}}
{{/if}}

